<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/main/register.css">
</head>
<body>

<h2>Вход</h2>

<form th:method="POST" th:action="@{/login}" th:object="${user}">
    <div>

        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" placeholder="Введите email" required>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>

        <br/>

        <label for="Password">Пароль</label>
        <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль" required>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>

        <button type="submit">Войти</button>
    </div>
</form>

</body>
</html>