<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <h1>User Profile</h1>
        </div>
        <div class="profile-content">
            <div class="profile-details">
                <p th:text="${user.id}">User Id</p>
                <p th:text="${user.name}">User Name</p>
                <p th:text="${user.surname}">User Surname</p>
                <p>Email: <span th:text="${user.email}">user@example.com</span></p>
            </div>
        </div>
    </div>
</body>
</html>